@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home,
#home header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home header {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 10px;
  z-index: 1000;
}

#home header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#home header nav {
}

#home header nav ul {
  list-style: none;
}

#menu li {
  padding: 20px;
  color: #000;
}
header a {
  text-decoration: none;
  color: #000;
}

#menu li .link-item {
  padding: 20px;
  color: #000;
  text-decoration: none;
}

#home header #logo {
  font-size: 2em;
}

#header-background {
  position: relative;
  left: 0;
  z-index: 2000;
}

#home .main {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0px 80px;
  justify-content: space-between;
  align-items: center;
}

#home .main .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  position: relative;
  font-size: 2.5em;
}

.description .player {
  margin-top: 50px;
}

#header-background img {
  width: 1400px;
  max-height: 100%;
  max-width: 100%;
}
